link(rel="stylesheet", href="../app/css/enter.css")
//-活动规则
include ./common/rules
//-首页
img(src="../app/img/home-logo.png", width="100%", class="logo")
img(src="../app/img/home-cat.png", class="smile-cat")
div(class="btn-group" )
    a(href="#/battleTzg")
        img(src="../app/img/pk-cat-btn.png", width="120")