div(class="footer", ng-controller="FooterCtrl")
    ul
        li
            a(href="#/")
                img(src="../app/img/home.png")
                span {{nickname}}: {{flow}}
        li
            button
                a(href="#/exchange") 去兑换
