footer(ng-controller="HistoryListCtrl")
    div(class="battle-me")
        div(class="btn-attack chosed", ng-click="changeRank('attack');") 谁偷袭了我
        div(class="btn-battle", ng-click="changeRank('battle');") 我的战绩榜
    //-偷袭我的人
    table(class="attackRank", ng-show="rankListShowFlag")
        tr(ng-repeat="list in attackList")
            td
                img(ng-src="{{list.avatar != '' ? list.avatar : '../app/img/default-head.png'}}", width="30", class="head")
            td {{list.nickname}}
            td {{list.createTime}}
            td(style="min-width: 30px;") {{list.flow}}
            td
                a(href="#/battle{{list.openId}}") 报仇
    //-战绩榜
    table(class="battelRank", ng-show="!rankListShowFlag")
        tr(ng-repeat="list in battleList")
            td
                img(ng-src="{{list.avatar != '' ? list.avatar : '../app/img/default-head.png'; list.openId != 'tzg' ? list.avatar : '../app/img/cat-head.png'}}", width="30", class="head")
            td {{list.nickname}}
            td {{list.win}}
            td(style="min-width: 30px;") {{list.flow}}
            td
                a(href="#/battle{{list.openId}}") 挑战它
