div(class="battle-me", style="margin-top: -25px;")
    div(class="btn-touxi chosed") 谁偷袭了我
    div(class="btn-zhanji") 我的战绩榜
div(style="height: 20px; line-height: 20px; text-align: right; margin-right: 1.2rem;")
    a(style="color: #199659; font-size: 1.5rem;font-weight: bold; display: inline-block; width: 11rem;" href="/action/doAction?r=tzg/award") 奔走相告奖>>
footer
    //-偷袭我的人
    table(class="touxiRank")
    //-战绩榜
    table(class="zhanjiRank" style="display: none;")