div(id="pking", ng-show="showPkingFlag")
    img(src="../app/img/logo-1.png", width="90%", class="logo")
    header
        div(class="progress")
            div(class="progress-bar")
                img(src="" width="32" height="32" class="me")
                img(src="../app/img/cat-head.png", width="32", height="32", class="other")
        p(class="notice") 划得快才能抢得多
    div(class="arrow")
        img(src="../app/img/hand.png", class="hvr-wobble-vertical")
        img(src="../app/img/arrow.png", width="40", class="arrow-up")
    img(src="../app/img/cat-on-coins.png", class="goat")
    div(class="mask")   提交中，请稍后。。。
